<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}Muzička knjižnica{% endblock %}</title>
</head>

<body>
    <div class="test">
        {% load static %}
        <a href="/"><img class="traka" src="{% static 'images/traka.png' %}" alt="My image"></a>
    </div>
    <div id="sidebar" class="lista_block">
        {% block sidebar %}
        <a class="lista_elementi" href="/">Home</a>
        <a class="lista_elementi" href="/accounts/login">Izvođači</a>
        {% if request.user.is_superuser %}
            <a class="lista_elementi" href="/adminpanel">Admin</a>
        {% endif %}
        <div class="desno">
            {% if request.user.is_authenticated %}
                Pozdrav <strong>{{ request.user.username }}</strong>,
                <a href="/accounts/logout">Odjava?</a>
            {% else %}
                Pozdrav <strong>goste</strong>!
                <a href="/accounts/login">Prijava?</a>
            {% endif %}
        </div>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>