{% extends "base_generic.html" %}
{% block content %}
<br>
{% for pjesma in object_list %}
    {% if forloop.first %}
        <div class="pjesma">
            <h2> <a href="/izvodaci/{{ pjesma.album.izvodac }}">{{pjesma.album.izvodac.izvodac_ime}} {{pjesma.album.izvodac.izvodac_prezime}}</a> - {{ pjesma.album.naziv_albuma }} </h2>
            <p>Godina izdavanja albuma: {{ pjesma.album.godina_izdavanja_albuma }}</p>
            <p>{{ pjesma.album.dodatne_informacije_albuma }}</p>
        </div>
    {% endif %}
{% endfor %}
<br>
<h3>Pjesme albuma:</h3>
{% for pjesme in object_list %}
    {% if forloop.first %}
        {% if request.user.is_superuser %}
        <button><a href="/izvodaci/{{ pjesme.album }}/DodavanjePjesme">Dodaj pjesmu</a></button>
        {% endif %}
    {% endif %}
{% empty %}
    {% if request.user.is_superuser %}
        <button><a href="/adminpanel/DodavanjePjesme">Dodaj pjesmu</a></button>
    {% endif %}
{% endfor %}
{% for pjesma in object_list %}
    <div class="pjesma">
        <h4 class="gumbi">{{ pjesma.naziv_pjesme }}</h4>
        {% if request.user.is_superuser %}
            <button class="gumbi"><a href="/izvodaci/{{ pjesma.album.izvodac }}/{{ pjesma.album }}/{{ pjesma.naziv_pjesme }}/UredivanjePjesme">Uredi pjesmu</a></button>
            <button class="gumbi"><a href="/izvodaci/{{ pjesma.album.izvodac }}/{{ pjesma.album }}/{{ pjesma.naziv_pjesme }}/BrisanjePjesme">Obriši pjesmu</a></button>
        {% endif %}
        <p>Godina izdavanja pjesme: {{ pjesma.godina_izdavanja_pjesme }}</p>
        <p>Trajanje pjesme: {{ pjesma.trajanje_pjesme }}</p>
        <br>
    </div>
{% endfor %}
{% endblock %}